@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;color:black;text-decoration:none;font-size:12px;}
/*开头*/
.top{width:100%;height:3px;background:#464445;}
.top1{width:100%;height:70px;background:white;z-index:99;}
.auto{width:1200px;/*background:#0C6;*/margin:0 auto;}
.auto:after{content:"";display:block;clear:both;}
body{background:#f5f5f5;}
/*开头下*/
.lan{width:688px;height:70px;float:left;}
     .lant{width:57px;height:57px;border-radius:57px;margin-top:7px;float:left;position:relative;overflow:hidden;background:#d93732;}
	
	.lant img{width:300px;height:300px;position:absolute;left:0px;top:0px;transition:all 1.5s;}
     .lant  img:hover{transform:translateX(-57px)}
	 .lanl{float:left;height:70px;line-height:70px;text-align:center;width:107px;position:relative;}
	
 /*二级*/
     .lanler{width:102px;position:absolute;top:70px;left:17px;background:#f7f19d;z-index:99;display:none;}
	  .lanler a{display:block;width:107px;height:40px;text-align:center;line-height:40px; color:black;}
	 .lanlaer{width:900px;height:219px;border:1px solid #ccc;position:absolute;top:70px;left:-196px;z-index:50;background:white;display:none;border-top:none;}
	  .lanlaer  a{width:56px;height:40px;text-align:center;line-height:40px; color:black;float:left;}
	 .lanlaer div{width:533px;margin-left:138px;margin-top:3px;text-align:left;}
	 
	 .lanlaers3 a{float:right;background:red;font-size:16px;color:white;display:block;width:62px;height:26px;text-align:center;line-height:26px;}
	 	
	
	 .lanla1{font-size:16px;color:#333;float:right;margin-right:17px;}
	 .lanla{font-size:16px;color:#333;float:right;}
	 .lansan1{width:17px;height:12px;background:url(../img/login/bgr.png);float:right;background-position:-202px 0;margin-top:33px;margin-right:-85px;}
 /*搜索框*/
.lan2{width:297px;height:70px;float:left;}
   .lan2s{width:237px;height:31px;border:1px solid #e6e6e6;float:right;margin-top:21px;border-radius:31px;overflow:hidden;}
   .lan2ss{width:186px;height:32px;border:none;float:left;outline:none;margin-left: 10px;}
   .lan2st{width:12px;height:16px;background:url(../img/login/bgr.png);background-position:-133px 0;margin-left:12px;float:left;margin-top:8px;}
/*注册*/


.lan3{width:160px;height:70px;float:left;}
.lan3rf{width:28px;height:70px;float:right;}
   .lan3r{float:right;width:28px;height:28px;border:2px solid #e9e9e9;border-radius:28px;margin-top:21px;position:relative;}
         .lan3ra{width:10px;height:8px;background:url(../img/login/bgr.png);background-position:-167px 0;margin:6px auto;display:block;}
/*注册二级菜单*/
.lan3rer{width:100px;background:white;position:absolute;top:47px;right:-25px;display:none;z-index:25;}
.lan3rer a{display:block;text-align:center;color:black;}
.lan3rerd{width:100%;text-align:center;}
.lan3rerd a{display:inline;color: #b28850;}
.lan3rcf{width:51px;height:70px;float:right;margin-right:8px;}
	.lan3rc{width:28px;height:28px;border:2px solid #e9e9e9;border-radius:28px;float:right;margin-top:21px;margin-right:8px;position:relative;}
        .lan3rca{width:10px;height:8px;background:url(../img/login/bgr.png);background-position:-149px 0;margin:6px auto;display:block;}
 /*二级*/
     .lan3er{width:300px;height:200px;position:absolute;right:-32px;top:47px;background:white;z-index:25;display:none;}
     .lan3er p{line-height:200px;text-align:center;}
/*中间*/
.middletu{width:100%;height:702px;margin-top:5px;z-index:-1;}

.middles1{width:105px;margin-top:17px;float:left;margin-top:26px;margin-bottom:20px;}
.middles1 a{padding:17px 0;color:#333;}
.middles{float:right;width:90px;height:17px;border:2px solid #979795;border-radius:22px;margin-right:10px;margin-top:27px;margin-bottom:20px;}
.middles a{font-size:12px;text-align:center;line-height:10px;color:#666;display:block;}
.middlex{float:right;margin-right:8px;margin-top:27px;margin-bottom:20px;}
/*图和介绍*/
.minddlecai1{width:100%;height:69px;}
/*图*/
.minddlecai2{width:100%;height:521px;background:#FFF;}
.minddlecai21{width:50%;height:100%;float:left;}

.minddlecai211{width:100px;height:500px;float:left;margin-top:10px;}
.minddlecai211 img{width: 68px;height: 68px;border: 1px solid #e6e6e6;margin:4px 13px;}
.minddlecai212{width:500px;height:500px;float:left;margin-top:10px;position:relative;}
.minddlecai2121{width:50px;height:50px;background:rgba(204,204,204,0.5);position:absolute;top:0px;left:0px;display:none;}
.minddlecai2122{width:500px;height:500px;z-index:20;position: absolute;top:0px;left:0px;}

.minddlecai212datu{width:480px;height:480px;float:left;overflow:hidden;position:relative;top:-512px;left:500px;display:none;background:url(../img/register/1.jpg);background-size:800px 800px;background-position:0px 0px;}

.minddlecai2121i{width:460px;height:500px;background:url(../img/register/1.jpg);}
.minddlecai22{width:50%;height:100%;float:left;margin-top:10px;}

/*介绍*/
.minddlecai3{width:100%;height:69px;background:#FFF;border-top:1px solid #333;}
.minddlecai2211{font-size:30px;}
.minddlecai2212{font-size:15px;margin:20px 0;line-height:1.5;}
.minddlecai222{border-bottom:1px solid #ccc;border-top:1px solid #ccc;height:56px;line-height:56px;}
.minddlecai2221{width:156px;height:24px;color:#d93732;font-size: 24px;font-weight: 700;}
.minddlecai2222{float:right;margin-right:17px;}
.minddlecai223,.minddlecai224{width:485px;height:54px;line-height:54px;}
.minddlecai223{margin-top:27px;}
.minddlecai2231{border: 1px solid #fff;color: #666;}
.minddlecai2232 a{border: 1px solid #e8e8e8;padding:10px 20px;margin-bottom: 10px;color: #333;}
.minddlecai2232 a:hover{color:red;border:1px solid red;}
.minddlecai225{width:100%;height:99px;border-bottom:1px solid #ccc;}

 a.minddlecai2251{background: #d93732; border-radius: 3px;margin-top:27px;color: #fff;margin-left:169px;line-height:44px;padding:3px 177px;float:left;margin-left:0px;color:white;}
a.minddlecai2252{display: inline-block;height: 44px;width: 44px;background: #e2e2e2;border-radius: 3px;float:right;margin-top:25px;margin-right:111px;}
.minddlecai2252 span{display:block;width: 18px;height: 16px;background:url(../img/login/bgr.png);background-position: -205px -16px;margin-top:13px;margin-left:13px;}

.minddlecai226{margin-top:15px;}
.minddlecai2261{width: 15px;height: 10px;background:url(../img/login/bgr.png);background-position: -224px -16px;display:block;float:left;}
a.minddlecai2262{padding-left:11px;padding-top:0px;color:#333;}
/*介绍下*/
.minddlecai31{margin:0 auto;overflow:hidden;width:543px;margin-top:19px;}
.minddlecai31  div{float:left;margin-left:10px;}
.minddlecai31  div  a{font-size:24px;}

/*隐藏*/
.minddlecai10{width:100%;height:70px;background:white;display:none;position:fixed;top:0;left:0;z-index: 30;}
.minddlecai101{margin:0 auto;overflow:hidden;width:543px;}
.minddlecai101  div{float:left;margin-left:10px;}
.minddlecai101  div a{font-size:24px;line-height:63px;height:63px;display:block;}
.minddlecai101r,.minddlecai101rq{width:70px;float:right;margin-top:-40px;}
.minddlecai101r{margin-right:89px;}
.minddlecai101rq {border:1px #ccc  solid;border-radius:15px;height:16px;width:90px;}
.minddlecai101rq a{padding:5px 5px;display:block;height:15px;height:20px;font-size:12px;line-height:5px;text-align:center;}
.minddleqq{width: 60px; height:60px;position: fixed;right: 60px;bottom: 22%; z-index: 99;background:#656766;display:none;}
.minddleqq  a{width: 31px;height: 29px;background:url(../img/login/bgr.png);background-position: -190px -77px;display:block;margin:12px;}
.minddletop{width: 60px; height:60px;position: fixed;right: 60px;bottom: 10%; z-index: 99;background:#656766;display:none;}
.minddletop  a{width: 35px;height: 18px;background:url(../img/login/bgr.png);background-position: -190px -112px;display:block;margin:20px 12px;}
/*大图列表*/
.middlesjie{width:100%;height:100%;background:white;}
.middlesjie1{width:90%;height:100%;margin-left:100px;padding-top:100px;}
.middlesjie1  img{margin-top:-3px;}
/*规格参数*/
.minddlecanw{width:100%;height:100%;}
.minddlecanw1{width:100%;height:100%;overflow:hidden;}
.minddlecan,.minddlecan2{width:35%;height:3px;background:url(../img/index/diy-title.png);margin-top:77px;}
.minddlecan{float:left;}
.minddlecan2{float:right;}
.minddlecan1{width:30%;height:70px;float:left;margin-top:60px;text-align:center;font-size:37px;}
.minddlecan3{width:100%;height:255px;background:white;margin-top:20px;}
.minddlecan3 li{list-style:none;padding:10px;font-size:14px;}
.minddlecan311{color:red;}
.minddlecan31{width:40%;height:80%;float:left;margin-left:100px;margin-top:30px;}
.minddlecan32{width:40%;height:80%;float:right;margin-right:100px;margin-top:30px;}
/*评价晒单*/
.middleping1{width:300px;margin:0px auto;padding:61px 0;}
.middleping1 a{font-size:20px;color:#000;}
.middleping12{width:100px;margin:0 auto;color:#ccc;padding-top:61px;}
/*商品咨询*/
.middlezi1{width:100%;height:112px;background:white;border-bottom:1px solid #ccc;position:relative;}
.middlezi11{width:600px;height:32px;border:1px solid #ccc;margin:0 auto;position:absolute;top:38px;left:331px;}
.middlezi111{width:400px;height:32px;border:none;outline:none;}
.middlezi11  a{background:#d93732;;padding:10px 76px;color:white;}

.middlezi2{width:100%;height:220px;background:white;border-bottom:1px solid #ccc;}
.middlezi2 ul{padding:20px 0;}
.middlezi2 li{list-style:none;font-size:12px;}
.middlezi2 li:last-child{color:#996c33;}
.middlezi3{width:100%;height:82px;background:white;padding:30px 0;margin-top:0px;}
.middlezi31{width:200px;height:30px;margin:0 auto;margin-top:27px;}
a.middlezi311{font-size:22px;}
.middlezi312{display:block;width:9px;height:9px;background:url(../img/login/bgr.png);background-position: -192px 0;float:right;margin-top:5px;}
/*猜你喜欢*/
.middlecaixi1{width:100%;height:280px;position:relative;}
.middlecaixi1 li{list-style:none;float:left;margin-left:11px;width:228px;background:white;height:280px;}
.middlecaixi1 li img{margin:20px 20px;}
.middlecaixi1 li  a{display:block;color:#333;padding-top:5px;width:100%;text-align:center;}
.middlecaixi2{width:100%;height:120px;}
.middlecaixi21{width:135px;margin:0 auto;margin-top:34px;}
.middlecaixi21 div{width: 8px;height: 8px; background:#666;border-radius: 8px;float:left;margin-left:15px;}
.middlecaixi1 ul{position:absolute;top:0;left:0;overflow:hidden;display:none;}

/*版权*/
/*版权下*/
.botton{width:100%;height:212px;background:white;}
.botton1{width:1087px;height:212px;margin:0 auto;margin-top:51px;}
.botton1 div{width:152px;height:68px;float:left;margin:40px 30px;}
.botton1 span{float:left;padding:40px 10px;font-size:42px;color:rgba(204,204,204,0.5);}
.botton11{background:url(../img/login/bgr.png);background-position:0 -58px;}
.botton1 .botton12{width:323px;background:url(../img/login/slogan.png);margin:40px 0px;}
.botton1 .botton131{height:16px;margin:0;font-size:17px;text-indent:1em;}
.botton1 .botton132{height:45px;margin:0;}
/*版权下3*/
.botton1 .botton132 .botton1321,.botton1322,.botton1323{width:21px;height:20px;display:block;float:left;margin-left:18px;margin-top:13px;}
.botton1 .botton132 .botton1321{background:url(../img/login/bgr.png);background-position:0 -276px;border-radius:31px;}
.botton1 .botton132 .botton1322{background:url(../img/login/bgr.png);background-position:-28px -275px;border-radius:31px;}
.botton1 .botton132 .botton1323{background:url(../img/login/bgr.png);background-position:-53px -274px;border-radius:31px;width:28px;height:21px;}
/*版权下4*/
.botton1 .botton14{width:168px;margin-left:15px;}
.botton1 .botton141{font-size:20px;font-weight:bold;text-indent:0.2em;}
.botton1 .botton142{font-size:14px;}
.botton1 .botton143{border:1px solid #ebebeb;border-radius:30px;font-size:12px;padding:0px 18px;margin-left:17px;width:132px;margin-top:0px;}
/*版权底*/
.botton-last{width:100%;height:247px;background:#484442;}
.botton-last1{width:100%;height:187px;}
.botton-last1 div{width:259px;height:99px;float:left;margin-left:30px;margin-top:53px;}

.botton-last .botton-last111{width:52px;height:52px;float:left;background:url(../img/login/bgr1.png);margin-top:18px;}
.botton-last .botton-last112{width:52px;height:52px;float:left;background:url(../img/login/bgr1.png);margin-top:18px;background-position:-53px 0;}
.botton-last .botton-last113{width:52px;height:52px;float:left;background:url(../img/login/bgr1.png);margin-top:18px;background-position:-106px 0;}
.botton-last .botton-last114{width:52px;height:52px;float:left;background:url(../img/login/bgr1.png);margin-top:18px;background-position:-159px 0;}
.botton-last1 span{line-height:99px;margin-left:10px;color:#c3c3c3;}
.botton-last2{padding:18px 0;}
.botton-last2 span,a{color:#c3c3c3;padding:3px 2px;}
.botton-last21{float:left;margin-left:64px;}
.botton-last22{float:right;margin-right:85px;}

