@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
html,body,.body{width:100%;height:100%}
.body{font-size: 14px;color: #303030;font-family: Arial;background: #f4f4f4;overflow-y:auto;}
.top{width:100%;height:60px;background:#fff;}
.top-content{width:90%;height:80%;padding:2% 5%;}
a.top-logo{width:36px;height:36px;border-radius:36px;background: #d93732;margin-top:3px;display:block;float:left;}
.top-list{float:left;padding:10px 15px;}
.top-package{float:right;background:url(../img/index/bao.gif);width:26px;height:23px;margin-top:13px;}
a.top-logo  i{width:36px;height:36px;background:url(../img/index/bgr.png);display:block;background-size:529% 525%;}
.top-list-img{width:28px;height:60px;float:left;position:relative;}
.top-list-img2{width:28px;height:26px;background:url(../img/index/san.gif);background-size:100% 100%;}
/*二级1*/
.top-list-img1{width:373px;height:415px;background:blue;position:absolute;left:-70px;top:45px;background:#FFF;border:1px solid #ccc;z-index:13;display:none;}
.top-list-img1 p a{display:block;float:left;width:76px;height:54px;text-decoration:none;color:#333;text-align:center;line-height:27px;margin-top:5px;}
.top-list-img1 p a img{display:block;margin:0 auto;}
.top-list-img1 hr{width:373px;}
.top-list-img-content1{width:305px;height:114px;margin:50px auto;}
.top-list-content{float:left;line-height:26px;padding:0px 20px;}
.top-list-img-content2{width:305px;height:114px;margin:20px auto;}
.top-list-img-content2  input{width:300px;height:33px;margin:20px auto;background:url(../img/index/fa.gif) no-repeat;background-position:right;padding:2px 5px;outline:none;border:1px solid #ccc;}
/*二级2*/
.top-list-content{position:relative;}
.top-list-contentda{width:373px;height:415px;background:blue;position:absolute;left:-98px;top:45px;background:#FFF;border:1px solid #ccc;z-index:13;display:none;}
.top-list-content1{width:100%;border-bottom: 1px solid #ccc;height:156px;}
.top-list-content1  p:first-child{width:80%;padding:20px 10% 3px 10%;}
.top-list-content1  p:last-child{width:80%;padding:5px 10% 0 10%;}
.top-list-content1  p a{display:block;width:60px;height:20px;text-decoration: none;color:#333;padding:7px;float:left;text-align: center;line-height:20px;}
.top-list-content1  p a.top-lista1{display:block;float:left;border:1px solid #ccc;padding:5px;}
.top-list-content1 .top-listat{display:block;width:80%;height:39px;background:red;margin:32px 10%;border-radius: 6px;text-decoration: none;color:white;text-align: center;line-height:39px;font-size:17px;}
/*二级3*/
.top-list-package{width:80%;padding:40px 10%;}
.top-list-contentda ul{width:80%;padding:10px 10%;list-style:none;}
.top-list-package p{font-size:19px;text-align:center;}
.top-list-contentda ul  li{border-top:1px solid #eee;height:65px;line-height:65px;text-indent: 1em; }
.top-list-contentda ul  li a{text-decoration: none;color:#333;font-size:16px;}
.top-list-contentda ul li.top-list-packagea a{color:#b28850;}
.top-list-contentda ul li.top-list-packagea span{color:#b28850;}
/*top下引导语*/
.top-text{width:100%;height:37px;display:flex; justify-content:space-between;flex-flow: column wrap;}
.top-text a{text-decoration:none;color:#333;text-align:center;line-height:20px;}
.top-text-index1,.top-text-index2{padding:0px 32px;}
a.top-text-index21{font-size:12px;border:1px solid #ccc;padding:5px 10px;border-radius: 24px;}
/*图片切换*/
.middle-top-pic{width:100%;height:392px;background: #fff;position: relative;}
.middle-top-img li{width:355px;height:354px;padding:10px;position: absolute;left:0;top:0;}

.middle-top-img li{width:345px;height:354px;display:none;}
.middle-top-img .imgblock{display:block;}
.middle-top-sq{width:60%;height:16px;position: absolute;left:25%;bottom:22px;
    display:flex; justify-content:space-between;flex-flow: column wrap;}
.middle-top-sq span{display:block;width:15px;height:15px;border-radius: 50%;background: #cccccc;}
.middle-top-sq span.red{background: red;}

/*介绍文本*/
.middle-top-content{width:80%;height:181px;padding:0 10%;background: #fff;}
.middle-top-content1,.middle-top-content2{width:100%;height:22px;display:flex; justify-content:space-between;flex-flow: column wrap;padding:10px 0;}
.middle-top-content1 .middle-top-content1-img{background: url("../img/details/xin.gif");display:block;width:22px;height:22px;float:right;margin-left:184px;}
.middle-top-content11,.middle-top-content31{float:left;font-size:18px;}
.middle-top-content31{color:red;}
.middle-top-content1-img,.middle-top-content32{float:right;}
.middle-top-content p{font-size:15px;line-height:1.5;}
/*选择*/
.middle-change-color{width:80%;height:120px;background: #fff;padding:28px 10%;margin:5px 0;}
.middle-change-color p{width:100%;height:10px;padding:10px 0;}
/*.middle-change-color p.middle-change-colorp{padding:15px 0;}*/
.middle-change-color p a{display: block;float:left;padding:3px 10px;text-decoration: none;color:#333;border:1px solid #ccc;margin-left:10px;}
.middle-change-color p a:hover{color:red;border:1px solid red;}
/*购买*/
.middle-change-color1{width:80%;height:79px;background: #fff;padding:40px 10%;margin:5px 0;}
a.middle-change1{width:100%;height:42px;display:block;background: red;text-decoration: none;color:white;text-align: center;line-height:42px;font-size:18px;border-radius: 5px;}
.middle-change2{padding-top:20px;}
.middle-change2 a{padding:0 5px;text-decoration: none;color:#333;}
a.middle-change21{display:block;background: url("../img/details/bgr.png");background-position:-224px -16px ;width:15px;height:16px;float:left;}
/*内容大标题*/

.middle-content-title{width:100%;height:59px;background:#fff;margin:5px 0;display:flex; justify-content:space-between;flex-flow: column wrap;position:relative;}
.middle-content-title-con{width:80%;padding:0 10%;}
.middle-content-title a{display:block;text-decoration: none;color:#333;font-size:20px;float:left;padding:13px 14px;}
.middle-content-title-sq{width:13px;height:13px;border-radius: 50%;border:2px solid red;position: absolute;left:84px;bottom:-9px;background: #fff;}
/*图片介绍*/
.middle-content-title-con-imgs1{width:100%;background:#fff;margin-top:-3px;}
.middle-content-title-con-content{width:50%;margin: 0 auto;padding-top:20px;}
.middle-content-title-con-content a,.middle-content-title-con-content span{display:block;float:left;padding:10px 5px;text-decoration:none;color:#333;font-size:18px;}
.middle-content-title-con-content span{padding:13px 0px;}
.middle-content-title-con-imgs{width:100%;background: #fff;padding:50px 0;}
.middle-content-title-con-imgs img{width:100%;margin-top:-3px;}
/*评论*/
.middle-content-title-con-imgs1p{width:100%;height:20px;display:none;}
.middle-content-title-con-imgs1p p{font-size:17px;width:100%;background:#fff;padding:20px;}
/*咨询*/
.middle-content-title-conp{width:80%;padding:20px 10%;display:none;}
.middle-content-title-conp-input{width:100%;height:47px;border:1px solid #ccc;}
.middle-content-title-conp-input input{width:197px;height:36px;margin:4px;border:none;}
.middle-content-title-conp-input a{text-decoration: none;color:#333;display:block;width:94px;height:48px;text-align:center;line-height:48px;border-left:1px solid #ccc;float:right;}
.middle-content-title-conp hr{margin:20px 0;}
/*猜你喜欢*/
.middle-last{width:100%;height:308px;}
.middle-lastfont{width:100%;height:50px;line-height:50px;text-indent: 1em;}
.middle-lastphoto{width:100%;position: relative;}
.middle-lastphoto .imgblock{display:block;}
.middle-lastphotoul{width:100%;position:absolute;left:0;top:0;display: none;}
.middle-lastphotoul li{list-style: none;float:left;width:122px;height:151px;background: #fff;margin-top:4px;text-align: center;}
.middle-lastphotoul li img{width:104px;height:104px;margin-top:10px;}
.middle-lastphotoulli{margin:0 4px;}
.middle-lastsq{width:100%;height:68px;background: #fff;margin-top:5px;}
.middle-lastsq2{width:20%;padding:0 40%;height:68px;}
.middle-lastsq2 span{display: block;float:left;width:10px;height:10px;border-radius:10px;background:#ccc;margin:29px 11px;border:2px transparent solid;}
.middle-lastsq2 span:hover{border:2px red solid;}
/*底部*/
.bottom{width:375px;height:50px;line-height:50px;margin-top: 40px;}
.bottom a{display:block;width:187px;height:64px;text-decoration:none;color:#333;float:left;text-align:center;line-height:21px;}

.bottom-tel{width:375px;height:225px;background:#fff;}
.bottom-tel-time{width:100%;height:140px;}
.bottom-tel-time-left{width:200px;height:110px;padding:7px 3px;float:left;}
.bottom-tel-time-left i{float:left;}
.bottom-tel-time-left1{float:right;margin-right: 20px;margin-top:5px;}
.bottom-tel-time-left1 b{width:120px;height:20px;display:block;margin-top:25px;font-size:19px;}
.bottom-tel-time-left1 span{font-size:12px;}
a.bottom-tel-time-right{display:block;float:right;margin-right: 44px;margin-top: 42px; border: 1px solid #ccc; padding: 6px 21px;border-radius: 31px;text-decoration:none;color:#333;font-size:12px;}
.bottom-after-sales{border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;overflow: hidden;}
.bottom-after-sales  a{display:block;float:left;text-decoration:none;color:#333;font-size:12px;padding:10px 17px;}
.bottom-tel hr{width:370px;}
.bottom-tel p{padding:13px;}