body {
	color: rgb(102, 102, 102); font-family: "ו"; font-size: 12px; background-color: rgb(234, 234, 234);
}
* {
	margin: 0px; padding: 0px;
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	color: rgb(250, 111, 34);
}
.r a {
	color: rgb(255, 0, 0); text-decoration: none;
}
.r a:hover {
	color: rgb(250, 111, 34);
}
ul {
	list-style: none;
}
li {
	list-style-type: none;
}
img {
	border: 0px currentColor;
}
.header {
	background: url("../images/headerbg.jpg") repeat-x; width: 100%; height: 155px;
}
.header_t {
	margin: 0px auto; width: 980px; height: 112px;
}
.logo {
	border: 0px currentColor; width: 460px; margin-top: 17px; float: left;
}
.top_right {
	width: 350px; text-align: right; padding-top: 15px; float: right;
}
.top_right p {
	line-height: 24px;
}
.top_right h1 {
	color: rgb(215, 0, 15); line-height: 20px; font-size: 15px; font-weight: normal; display: inline;
}
.top_right h2 {
	color: rgb(215, 0, 15); line-height: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: normal; display: inline;
}
.nav {
	margin: 0px auto; width: 980px; height: 40px; font-size: 14px; font-weight: bold;
}
.nav ul {
	margin: 0px; padding: 0px;
}
.nav li {
	background: url("../images/net02.jpg") no-repeat right; width: 120px; text-align: center; line-height: 40px; float: left;
}
.nav li a {
	color: rgb(255, 255, 255);
}
.nav li a:hover {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.nav li.center {
	background: url("../images/net03.jpg") no-repeat center; width: 120px; height: 31px; text-align: center; line-height: 31px; margin-top: 5px;
}
.nav li.center a {
	color: rgb(51, 51, 51);
}
.fla_pic {
	background: rgb(255, 255, 255); margin: 15px auto; padding: 3px; border: 1px solid rgb(204, 204, 204); width: 972px; height: 250px;
}
div#MainPromotionBanner {
	width: 972px; height: 251px;
}
#MainPromotionBanner #SlidePlayer {
	margin: 0px auto; position: relative;
}
#MainPromotionBanner .Slides {
	list-style: none; margin: 0px; padding: 0px; height: 251px; overflow: hidden;
}
#MainPromotionBanner .Slides li {
	width: 972px; height: 251px; float: left; display: block;
}
#MainPromotionBanner .Slides img {
	border: currentColor; width: 972px; height: 250px; display: block;
}
#MainPromotionBanner .SlideTriggers {
	list-style: none; margin: 0px; padding: 0px; top: 220px; height: 25px; right: 0px; position: absolute; z-index: 10;
}
#MainPromotionBanner .SlideTriggers li {
	background: url("../images/slide_trigger.gif") no-repeat center; margin: 3px; width: 16px; height: 16px; text-align: center; color: rgb(255, 115, 0); line-height: 16px; overflow: hidden; font-family: Arial; font-size: 0.9em; float: left; display: inline; cursor: pointer;
}
#MainPromotionBanner .SlideTriggers li.Current {
	background: url("../images/slide_trigger_c.gif") no-repeat center; margin: 0px 6px; border: 0px currentColor; width: 21px; height: 21px; color: rgb(255, 255, 255); line-height: 21px; font-size: 1.4em; font-weight: bold;
}
.gonggao {
	background: url("../images/net04.jpg") no-repeat; margin: 0px auto 15px; width: 980px; height: 35px; line-height: 37px; text-indent: 20px; padding-top: 2px;
}
.anli {
	margin: 0px auto; width: 980px;
}
.anli_title {
	background: url("../images/anlibg.jpg") repeat-x; height: 47px;
}
.anli_title p {
	height: 29px; text-indent: 20px; padding-top: 18px; font-size: 14px; float: left;
}
.anli_title b {
	height: 27px; padding-top: 20px; font-weight: normal; margin-right: 5px; float: right;
}
.anli_title p a {
	padding: 0px 15px;
}
.anli_fot {
	background: url("../images/net2_07.jpg") no-repeat; width: 980px; height: 7px; margin-bottom: 15px;
}
.liucheng {
	background: url("../images/net2_12.jpg") repeat-x; margin: 0px auto; width: 980px; height: 91px;
}
.liucheng_c {
	padding-top: 10px; padding-left: 10px; float: left;
}
.liucheng_l {
	float: left;
}
.liucheng_r {
	float: right;
}
.main_news {
	margin: 15px auto 0px; width: 980px;
}
.news_01 {
	width: 237px; overflow: hidden; margin-right: 10px; float: left; background-color: rgb(255, 255, 255);
}
.news_title {
	background: url("../images/net2_03.jpg") no-repeat; width: 237px; height: 36px;
}
.news_01 ul {
	width: 235px; padding-top: 8px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.news_01 li {
	background: url("../images/dd.jpg") no-repeat 10px; width: 215px; line-height: 24px; padding-left: 20px;
}
.news_title h2 {
	height: 34px; line-height: 34px; text-indent: 30px; padding-top: 2px; font-size: 14px; float: left;
}
.news_title b {
	height: 34px; line-height: 34px; padding-top: 2px; font-weight: normal; margin-right: 5px; float: right;
}
.news_bot {
	background: url("../images/netbt.jpg") no-repeat; width: 237px; height: 5px; overflow: hidden;
}
#news_011 {
	margin: 0px 0px 0px 2px;
}
.infiniteCarousel {
	width: 978px; height: 190px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative; background-color: rgb(246, 245, 245);
}
.infiniteCarousel .wrapper {
	top: 0px; width: 920px; height: 198px; margin-left: 30px; position: absolute;
}
.infiniteCarousel ul a img {
	border: 4px solid rgb(229, 229, 229); width: 190px; height: 130px; overflow: hidden;
}
.infiniteCarousel li {
	text-align: center; color: rgb(51, 51, 51); line-height: 26px; font-size: 12px; font-weight: normal;
}
.infiniteCarousel .wrapper ul {
	margin: 0px; width: 920px; padding-top: 10px; position: absolute;
}
.infiniteCarousel .wrapper ul li {
	padding: 10px; float: left; display: block;
}
.infiniteCarousel .arrow {
	top: 65px; text-indent: -999px; display: block; position: absolute; cursor: pointer;
}
.infiniteCarousel .forward {
	background: url("../images/net_05.jpg") no-repeat; width: 46px; height: 45px; right: 5px; overflow: hidden;
}
.infiniteCarousel .back {
	background: url("../images/net_03.jpg") no-repeat; left: 5px; width: 46px; height: 45px;
}
.infiniteCarousel .forward:hover {
	background: url("../images/net_05.jpg") no-repeat; width: 46px; height: 45px; right: 5px;
}
.infiniteCarousel .back:hover {
	background: url("../images/net_03.jpg") no-repeat; left: 5px; width: 46px; height: 45px;
}
.banner {
	margin: 15px auto; width: 980px;
}
.banner img {
	width: 980px; height: 175px;
}
.box {
	margin: 0px auto; width: 980px;
}
.box_right {
	width: 207px; float: right;
}
.box_right_news {
	margin-bottom: 10px;
}
.box_right_news h2 {
	background: url("../images/newst.jpg") no-repeat; width: 207px; height: 26px; color: rgb(255, 255, 255); line-height: 26px; text-indent: 15px; padding-top: 2px; font-size: 14px;
}
.box_right_news ul {
	background: rgb(255, 255, 255); margin: 0px; width: 205px; text-align: center; overflow: hidden; padding-top: 6px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.box_right_news li {
	background: url("../images/dd.jpg") no-repeat 10px; width: 215px; text-align: left; line-height: 24px; padding-left: 20px;
}
.news_db {
	background: url("../images/newsb.jpg") no-repeat; width: 207px; height: 8px; overflow: hidden;
}
.nav_lf {
	background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); width: 205px; margin-bottom: 10px;
}
.nav_lf ul {
	padding: 30px 0px 20px 25px; width: 180px; overflow: hidden;
}
.nav_lf li {
	background: url("../images/nav02.jpg") no-repeat; width: 152px; height: 28px; text-align: center; line-height: 28px; margin-bottom: 5px; float: left;
}
.nav_lf li a {
	color: rgb(51, 51, 51);
}
.nav_lf li a:hover {
	background: url("../images/nav01.jpg") no-repeat; width: 152px; height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; float: left;
}
.nav_lf li.center {
	background: url("../images/nav01.jpg") no-repeat; width: 152px; height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px;
}
.nav_lf li.center a {
	color: rgb(255, 255, 255);
}
.box_left {
	padding: 0px 20px 10px; border: 1px solid rgb(204, 204, 204); width: 720px; float: left; background-color: rgb(255, 255, 255);
}
.text_title {
	background: url("../images/titlebg.jpg") no-repeat bottom; margin: 0px auto; width: 720px; height: 65px; float: left;
}
.text_title h2 {
	width: 90px; text-align: center; padding-top: 10px; font-family: "??????"; font-size: 16px; font-weight: bold; float: left;
}
.text_title b {
	color: rgb(153, 153, 153); padding-top: 15px; font-size: 12px; font-weight: normal; float: right;
}
.text {
	margin: 0px auto; overflow: hidden; float: left;
}
.text td {
	line-height: 22px;
}
.text ul {
	margin: 0px; padding: 0px;
}
.text li {
	background: url("../images/sj.jpg") no-repeat left; width: 690px; line-height: 35px; padding-left: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
.text li b {
	font-weight: normal; float: right;
}
.text h1 {
	width: 720px; text-align: center; padding-bottom: 8px; font-size: 20px;
}
.text p {
	width: 720px; line-height: 30px; font-size: 12px;
}
.text h3 {
	margin: 10px 0px; width: 720px; text-align: center; line-height: 30px; font-size: 12px; font-weight: normal; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dashed; border-bottom-style: dashed;
}
.page_list {
	padding: 20px 0px; width: 720px; text-align: center; float: left;
}
.page_list a.thispage {
	border: 1px solid rgb(215, 0, 15); color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(215, 0, 15);
}
.page_list a {
	padding: 2px 4px; border: 1px solid rgb(213, 225, 230); height: 13px; text-align: center; color: rgb(102, 102, 102); line-height: 14px; text-decoration: none; margin-right: 5px; background-color: rgb(246, 249, 250);
}
.page_list a:hover {
	border: 1px solid rgb(215, 0, 15); color: rgb(255, 255, 255); background-color: rgb(215, 0, 15);
}
.pic {
	width: 720px; overflow: hidden; float: left;
}
.pic ul {
	margin: 0px; padding: 0px;
}
.pic li {
	margin: 10px 5px; float: left;
}
.pic li img {
	border: 4px solid rgb(224, 224, 224); width: 220px; height: 130px;
}
.pic li h2 {
	width: 220px; text-align: center; padding-top: 10px; font-size: 12px; font-weight: normal;
}
.footer {
	background: rgb(255, 255, 255); width: 100%; margin-top: 15px; border-top-color: rgb(215, 0, 15); border-top-width: 2px; border-top-style: solid; float: left;
}
.link {
	margin: 0px auto; padding: 5px 0px; width: 980px; line-height: 26px; overflow: hidden;
}
.link h2 {
	width: 60px; font-size: 12px; float: left;
}
.link p {
	width: 900px; float: left;
}
.link a {
	padding: 0px 2px;
}
.footer_text {
	text-align: center; padding-top: 10px;
}
.footer_text p {
	line-height: 24px; font-size: 12px; font-weight: normal;
}
#case {
	margin: 8px; padding: 0px; width: 170px; float: left;
}
.title {
	font-size: 14px; background-image: url("/images/titlebg.gif"); background-repeat: no-repeat;
}
.case_pic {
	padding: 1px; border: 1px solid rgb(204, 204, 204); width: 164px; height: 120px; text-align: center; float: left;
}
.case_tit {
	border: 0px solid rgb(51, 51, 51); width: 170px; text-align: center; line-height: 20px; padding-top: 12px; float: left;
}
.more {
	width: 80px; font-size: 12px; margin-right: 20px; float: right; position: inherit;
}
.qq {
	width: 120px;
}
.qq_t {
	width: 120px;
}
.qq_d {
	width: 120px;
}
.qq_bg {
	background: url("/images/qq03.png") repeat-y; padding: 10px 0px; width: 130px; overflow: hidden;
}
.qq_bg ul {
	margin: 0px; padding: 0px;
}
.qq_bg li {
	background: url("/images/qq04.png") no-repeat; width: 90px; height: 26px; text-align: left; line-height: 26px; margin-bottom: 5px; margin-left: 20px; float: left; display: inline;
}
.qq_bg li a {
	color: rgb(51, 51, 51); font-size: 12px; text-decoration: none;
}
.qq_bg li a:hover {
	color: rgb(255, 0, 0); font-size: 12px; text-decoration: underline;
}
.qq_bg li img {
	margin-top: 4px; margin-right: 5px; margin-left: 10px; float: left;
}
