*{margin:0;padding:0;}
/*导航*/
.navbar-collapse{z-index:60;}
.nav li{padding:5px 0;border-left: 1px solid #252947;border-right: 1px solid #252947;margin-left:-1px;z-index:23;background: #191d3a;}
.nav ul:first-child{color: #e2e4ed;background-color: #252947;}
.nav li:first-child a{color:#fff;}
.nav li a{color: #818496}
.navbar-right li{border:none;}
.navbar-right li:first-child{background: #191d3a;}
.navbar-default .navbar-right li:first-child a{color:#38b774;}
.btn-success{display: inline-block;margin: 12px 0 0 10px;height: 32px;width: 98px;border-radius: 3px;background-color: #38b774;}
.nav .btn-success a{font-size:14px;color: #fff;display:block;}
#bs-example-navbar-collapse-1 li{background: #191d3a;}
/*导航经过变色左边*/
.navchange li:hover{background:#252947; }
.collapse .navchange li:hover a{color:white;}
.collapse .navchange li a:hover{color:white!important;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:white;
    background-color:transparent!important;
}
/*导航经过变色右边*/
.collapse .navchanger li a:hover{color:#38b774!important;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#38b774; background-color:transparent!important;
}
/*轮播图尺寸*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px)and (max-width:768px){
    .carousel-inner .item img{width:100%;height:200px!important;}

    .newfont h3{font-size:6px;}
    .newfont{font-size:5px;}
    body{font-size:6px;}

    #tab3 .text-center img{width:100%;}
    #tab3 .three-imgs{width:110%;}
    #tab3 .three-imgs li{float:left;width:50%;}

    /*#tab4*/
    #tab4 ul{width:120%;}
    #tab4 ul li{width:100%;}
    #tab4 ul li div{width:100%;}
    #tab4 .four-img1,.four-img2,.four-img3,.four-img4{display: block;margin-left:45%;}
    #tab4 .four-centent1,#tab4 .four-centent2,#tab4 .four-centent3,#tab4 .four-centent4{padding:0;}
    #tab4 p,h5{text-align: center;}


    /*#tab5*/
    #tab5  .tab5-ul2e{margin-left:-2px;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 768px)and (max-width:992px) {
    .carousel-inner .item img{width:100%;height:300px!important;}
    .newfont h3{font-size:14px;}
    .newfont{font-size:9px;}

    body{font-size:12px;}
    #tab3 .text-center img{width:100%;}
    #tab3 .three-imgs{width:110%;}
    #tab3 .three-imgs li{float:left;width:50%;}

    /*#tab4*/
    #tab4 ul{width:120%;}
    #tab4 ul li{width:100%;}
    #tab4 ul li div{width:100%;}
    #tab4 .four-img1,.four-img2,.four-img3,.four-img4{display: block;margin-left:45%;}
    #tab4 .four-centent1,#tab4 .four-centent2,#tab4 .four-centent3,#tab4 .four-centent4{padding:0;}
    #tab4 p,h5{text-align: center;}

    /*#tab5*/
    #tab5  .tab5-ul2e{margin-left:0;}


}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px){
    .carousel-inner .item img{width:100%;height:460px!important;}
    .newfont h3{font-size:24px;}
    .newfont{font-size:12px;}


}
/*缩小的时候的选择栏*/
#myTab .myTabz{z-index: auto;}
#myTab li{background: #F7F7F7;color:#38b774;width:100%;text-align: center;z-index:-20;}
#myTab li:hover{background: #F7F7F7;color:#38b774;border: none;}
#myTab li a:hover{background: #F7F7F7;color:#38b774;border: none;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
     background-color:#F7F7F7;
    border: none;
    border-bottom-color: transparent;
}
ul.dropdown-menu{background: #F7F7F7;color:#38b774;width:100%;}
#myTab .dropdown-menu li a{color:#38b774;}
/*中间介绍top*/
.intruduce{padding-bottom:27px!important;}
.lr-left{margin-top: -21px!important;}
.lr-top{margin-top: -15px!important;}
span.pull-leftimg{background:url(../img/game/location.png);background-position:0 -44px;;display:block;float:left;height:29px;width:23px;}
.middle-top-font:hover{ color:#38b774;}
span.pull-leftfon{line-height: 32px; padding: 10px;font-size: 18px;font-weight: bold;}
.nav li:first-child{background: none;}

/*图片和介绍文字的左侧内容*/
.bq{z-index: 10;}
.bq .vertical-tab li a{display: block;padding-left: 52px;height: 80px;font: 22px Arial;width: 155px;padding: 18px 10px;}
.vertical-tab-content .tabwidth p{text-indent: 28px;color: #444866;margin-bottom: 30px;line-height: 2.4;font-size: 14px;}

.tabwidth p.fgreen {color: #38b774;}
.newfont{display: inline-block;padding: 3px 0px;color:#333;font-size:12px;}
.newfont  h3 {margin-top: -2px;margin-bottom: 2px;}
.arrows{color: #38b774; margin-top: 17px; transform: rotate(-93deg);}
.tabchange li a .caret{display: none;}

.bq .vertical-tab li{border-bottom: 1px solid#ccc;}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.topchange:hover a{color: #38b774;}
.caption1-left :hover a{color: #38b774;}
.caption1-right :hover a{color: #38b774;}
/*图片和介绍文字的右侧内容*/
.thumbnail{padding:20px 10px!important;}
.thumbnail img{margin-top:10px;}
.topchange a,p{font-size:20px;color:#333;}
.caption{text-align: center;}
.caption p{display: inline-block;}
.caption p,.caption span{font-size:12px;text-align: center;color: #33b972!important;}
.pic{margin-top: 38px;
    margin-left: 94px;}
.caption1{height:35px;line-height: 35px;margin-top:21px;}
.caption1-left,.caption1-right{width:48%;height:35px;}
.vertical{height: 42px;margin-top: 6px;width: 1px;display: inline-block;border-left: 1px solid #ccc;}
.left-img1{background: url(../img/game/icon.png);background-position:0 -347px;float:left;margin-left:8px;margin-top:10px;display:block;width:26px;height:40px;}
.text-center .left-img1{margin-top:10px;float:left;margin-left:34px;}
.left-font a,.right-font a{margin-top:11px;display:inline-block;margin-right:27px;}
.right-img{display:inline-block;width:30px;height:40px;background: url(../img/game/icon.png);background-position:0 -448px;float:left;margin-left:8px;margin-top:10px;}
div.dropdown-menu {top: 0;min-width: 0;background-color:transparent ;  background-clip: padding-box; border: none;  border:none;  border-radius: 4px; box-shadow: none;margin-right:58px;}
.itemtip .caret{transform: rotate(-90deg)}
.tabwidth .row{width: 127%;margin-bottom: 40px;}
.right-imgda{background:url(../img/game/ewmbg.png) ;width:148px;height:152px;box-shadow: none;}
.right-imgda  img{margin:11px 14px;}
.left-img21{background: url(../img/game/icon.png);background-position:0 -543px;float:left;margin-left:22px;display:block;width:26px;height:40px;}
.left-font1 a{margin-top:8px;display:inline-block;margin-right:27px;}
#tab1 p{margin:35px 0;font-size:16px;text-indent: 2em;}
#tab2 dd p{margin:35px 0;font-size:16px;text-indent: 2em;}
#tab2 dt{font-size:16px;font-weight: bold;}
#tab2 dd .fgreen{color: #38b774;}
#tab3 h3{text-align: center;font-size: 18px;color: #c7d6e5;margin-bottom: 15px;font-weight: normal;}
.middle-bottomline{border-bottom: 1px solid #ccc;}
.three-sq img{margin-top:-1px;margin-right:5px;}
.three-imgs{list-style: none;}
.three-imgs li{float:left;width: 180px;margin-top: 20px;text-align: center;}
.three-imgs li img{width: 127px;height: 45px;margin-bottom: 20px;}
.middle-bottomw{width:90%;margin:0 auto;}
.four-img1,.four-img2,.four-img3,.four-img4{background: url(../img/about/cul_icon.png) no-repeat;display: inline-block;width: 97px;height: 97px;float:left;}
.four-img2 { background-position: 0 -250px;}
.four-img3 { background-position: 0 -500px;}
.four-img4 { background-position: 0 -750px;}
#tab4 ul li{border-bottom: 1px solid #ccc;list-style: none;display: block;overflow: hidden;padding:70px 0px;}
#tab4 ul li:last-child{border-bottom:none;}
.four-centent1,.four-centent2,.four-centent3,.four-centent4 {float:left;padding-left:50px;}
.vertical-tab-content .tabwidth   h5{ font-size: 24px;margin-bottom: 12px;}
.vertical-tab-content .tabwidth  span{font-size: 18px;font-weight: bold;}
.vertical-tab-content .tabwidth .four-centent1 h5 span{color: #f39800;}
.vertical-tab-content .tabwidth .four-centent2 h5 span{color: #38b774;}
.vertical-tab-content .tabwidth .four-centent3 h5 span{color: #6672ca;}
.vertical-tab-content .tabwidth .four-centent4 h5 span{color: #da6c54;}
.vertical-tab-content .tabwidth p {color: #444866;font-size: 14px;text-indent: 0px;margin-bottom:0;line-height:2;}
#tab5 dt{font-size: 24px;font-weight: bold;line-height: 2;width:100%;padding:10px 0;}
#tab5 dt span{color: #c7d6e5;font-size: 18px;}
#tab5 dt{overflow: hidden;}
#tab5 dd{overflow: hidden;border-bottom: 1px solid #ccc;padding-bottom: 10px;}
#tab5 dd:last-child{border-bottom:none;}
.tab5-ul2u,.tab5-ul2e{background:url(../img/about/icon.png) no-repeat;background-position:15px -591px;;}
.tab5-ul2e{background-position:17px -235px;margin-left:121px;}

#tab5 ul{list-style: none;}
.tab5-ul1{float:left;}
.tab5-name{float:left;width: 75px;text-align: center;margin-right: 17px;padding-top: 5px;}
.li1{overflow: hidden;padding:28px;}
#tab5 .tab5-name h5{font-size: 12px;margin-top: 8px;}
.tab5-add{float:left;}
.tab5-right{padding:33px;}
.tab5-ul2 li{float:left;padding:10px 40px;}




/*pc*/
.interimg{text-align: center;}
.interimg div  span{font-size:18px;margin-top:3px;display: inline-block;}
.interimg1,.interimg2,.interimg3,.interimg4{display: inline-block;width: 24px;height: 24px;background: url(../img/game/online.png) no-repeat 0 -47px;vertical-align: middle;margin-left: 4px;}
.interimg2{background-position: -100px -47px;}
.interimg3{background-position: -75px -47px;}
.interimg4{background-position: -50px -47px;}
.interimg5{display: inline-block;width: 26px;height: 26px;background: url(../img/game/download-icon.png) no-repeat ;vertical-align: middle;margin-left: 4px;}

/*top*/
.scrolltop{position: fixed;right: 15px;bottom: 75px;width: 68px; height: 29px; background: url(../img/top.png) no-repeat 0 -40px;z-index: 999;}
.scrolltop:hover{background-position: 0 0;}

/*版权*/
.container p,.container p a{    color: #6c6e7e;}
.nav li{background:none;border:none;}
.bottom span,a,p{font-size:12px;}
.bottom a:hover{text-decoration: none;color:white;}