*{margin:0;padding:0;}
/*导航*/
.navbar-collapse{z-index:50;}
.nav li{padding:5px 0;border-left: 1px solid #252947;border-right: 1px solid #252947;margin-left:-1px;z-index:23;background: #191d3a;}
.nav ul:first-child{color: #e2e4ed;background-color: #252947;}
.nav li:first-child a{color:#fff;}
.nav li a{color: #818496}
.navbar-right li{border:none;}
.navbar-right li:first-child{background: #191d3a;}
.navbar-default .navbar-right li:first-child a{color:#38b774;}
.btn-success{display: inline-block;margin: 12px 0 0 10px;height: 32px;width: 98px;border-radius: 3px;background-color: #38b774;}
.nav .btn-success a{font-size:14px;color: #fff;display:block;}
#bs-example-navbar-collapse-1 li{background: #191d3a;}
/*导航经过变色左边*/
.navchange li:hover{background:#252947; }
.collapse .navchange li:hover a{color:white;}
.collapse .navchange li a:hover{color:white!important;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:white;
    background-color:transparent!important;
}
/*导航经过变色右边*/
.collapse .navchanger li a:hover{color:#38b774!important;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#38b774;
    background-color:transparent!important;
}
/*轮播图尺寸*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px)and (max-width:768px){
    .carousel-inner .item img{width:100%;height:200px!important;}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 768px)and (max-width:992px) {
    .carousel-inner .item img{width:100%;height:300px!important;}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px){
    .carousel-inner .item img{width:100%;height:460px!important;}
}
/*中间介绍top*/
.container .intruduce{margin: 40px 0 0px;}
.intruduce{padding-bottom:27px!important;}
.lr-left{margin-top: -21px!important;}
.lr-top{margin-top: -15px!important;}
span.pull-leftimg{background:url(../img/new/location.png);display:block;float:left;height:29px;width:23px;margin-top: 8px;}
span.pull-leftfon{line-height: 32px; padding: 10px;font-size: 18px;font-weight: bold;}
.nav li:first-child{background: none;}
/*中间内容*/
.centerleft{width:80%;margin-bottom: 20px;}
.centerright{width:20%;}
.nav li:first-child a {color: #333;}
.tab-padge .page-content{border-bottom:none;}
.centerleft .bq{width: 25%;margin-left: 298px;}
.centerleft .bq li{margin-left:7px;padding:0;border:1px solid #ccc;float:left;}
.centerleft .bq li:first-child{margin-left:0;}
.centerleft-inc{width:96%;margin:0 auto;}
.centerleft-new{color:#38b774;font-size:15px;font-weight:bold;}
.centerleft-img{display: inline-block ;background: url(../img/new/icon.png) no-repeat 0 -298px;width:17px;height: 17px;}
.centerleft-newd{font-size:12px;color:#afbecf;margin-top:2px;}
.centerleft-newc{font-size:15px;color:#444866;}
.centerleft-newc:hover{color:#38b774;text-decoration: none;}
.tab-padge{margin-top:-22px;}
    /*中间图片*/
.img-responsive{width:600px;}
    /*中间右边内容*/
  .righttop{text-align: center;font-size:16px;margin-top:20px;}
.righttop .caret{transform: rotate(-90deg);color:#38b774;}
.centerright .rightrow{margin:0;}
.rightrow img{margin:20px 0;width:90%;}
.rightrow .thumbnail{padding:0;border:none;box-shadow:none; }
.centerright{border-left:1px solid #ccc;}

    /*图片介绍*/
.page-contenti p{font-size:14px;text-indent: 2em;line-height: 1.7;letter-spacing:1px;}
.page-contenti p a{color:#38b774!important;}

/*top*/
.scrolltop{position: fixed;right: 15px;bottom: 75px;width: 68px; height: 29px; background: url(../img/top.png) no-repeat 0 -40px;z-index: 999;}
.scrolltop:hover{background-position: 0 0;}
    /*版权*/
.container p,.container p a{    color: #6c6e7e;}
.nav li{background:none;border:none;}
.bottom span,a,p{font-size:12px;}
.bottom a:hover{text-decoration: none;color:white;}